{{!-- <button class="new-entry-btn">
            <img src="/images/newEntry.webp" alt="New Entry">
            New Entry
        </button>
        <ul class="entry-list">
            {{#each entries}}
            <li class="entry-item">
                <h3 class="entry-title">{{this.title}}</h3>
                <p class="entry-date">{{this.date}}</p>
                <p class="entry-tags">{{this.tags}}</p>
            </li>
            {{/each}}
        </ul> --}}