<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Echo - {{title}}</title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <img src="/images/logo.webp" alt="Daily Echo" class="logo-image">
                <span>Daily Echo</span>
            </div>
            <div class="user-info">
                {{#if logged_in}}
                    <span>Hello, {{user.name}}</span>
                {{else}}
                    <span>Hello, Guest</span>
                {{/if}}
            </div>
        </header>

        {{{body}}} <!-- This will be replaced by the content of the specific page -->

    </div>
    <div class="footer">
        <footer>
            <h4 class="footer2">&copy; 2024 Daily Echo. All rights reserved.</h4>
        </footer>
    </div>
</body>
</html>
