{{!-- login page template --}}
{{!-- this is actually going to be the sign up page --}}

<h2>Sign Up</h2>
<form action="/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  
  <button type="submit">Sign Up</button>
</form>